@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import 'tailwindcss';

.flex { display: flex; }

.title-color {
  color: #101828;
}

.txt-color {
  color: #4a5565;
}

.bold-txt {
  font-weight: 700;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.view-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #101828;
  margin-bottom: 1rem;
}

.ptc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 1rem;
}

.cosmic-btn {
  color: #101828;
  border-radius: 12px;
  height: 2rem;
  margin-left: 1rem;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding-inline: 1rem;
  background: linear-gradient(to bottom right, #9810fa, #2b7fff);
}

.cosmic-btn:hover {
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom left, #9810fa, #2b7fff);
}

/* sm */
@media (width >= 40rem) {

}

/* md */
@media (width >= 48rem) {

}

/* lg */
@media (width >= 64rem) {
  .ptc-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
