@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import 'tailwindcss';

.flex { display: flex; }

.cosmic-btn {
  color: #101828;
  border-radius: 12px;
  height: 2rem;
  margin-left: 1rem;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding-inline: 1rem;
  background: linear-gradient(to bottom right, #9810fa, #2b7fff);
}

.cosmic-btn:hover {
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom left, #9810fa, #2b7fff);
}
